<!--
  Este arquivo contém todas as diretivas customizadas.
  Algumas diretivas estão em shared pois são compartilhadas para
  toda a aplicação.
-->

<p fundoAmarelo >
  Texto com fundo amarelo.
</p>

<button fundoAmarelo>Botão com fundo amarelo.</button>

<p highlightMouse>
  Texto com highlight quando passo o mouse.
</p>

<!--
  highlight dentro de shared
-->
<p [highlight]="'red'" [defaultColor]="'grey'">
  Texto com highlight com cores customizadas.
</p>

<h5>Diretiva Estrutura customizada - ngElse</h5>

<div *ngIf="mostrarCursos" >
  Lista de cursos aqui.
</div>

<!--
  Posso usar o ngElse (criado) com * ou não
-->
<div *ngElse="mostrarCursos" >
  Não existem cursos para serem listados.
</div>

<br>
<button (click)="onMostrarCursos()">
  Mostrar ou esconder cursos
</button>
<br>
<template [ngElse]="mostrarCursos">
  <div>
    Não existem cursos para serem listados.
  </div>
</template>
